.App{
  text-align:center
}

nav{
  display:flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #025955;
  color:#FFFFFF;
}

.nav-links{
  width: 50%;
  display:flex;
  justify-content: space-around;
  align-items: center;
  list-style:none;
}

.centered{
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
